@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SabonBold";
  src: url("/fonts/SabonBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.ttf") format("truetype");
}

@layer base {
  body {
    @apply relative container w-screen h-screen bg-secondary font-pretendard;
  }
  button.varient-contain {
    @apply bg-primary hover:bg-primary_600 focus:bg-primary_800;
  }
  button.varient-outline {
    @apply bg-transparent border-2 border-primary hover:border-primary_600 focus:border-primary_800 text-primary hover:text-primary_600 focus:text-primary_800;
  }
  button.varient-text {
    @apply text-primary hover:text-primary_600 focus:text-primary_800;
  }
}

/* Navbar */
@layer components {
  .navbar-container {
    @apply absolute container flex flex-row items-center justify-between lg:px-6 xl:px-8 2xl:px-12 py-4;
  }
  .navbar-icon-section {
    @apply w-[22%] lg:h-[1rem] xl:h-[1.3rem] 2xl:h-[1.6rem] relative;
  }
  .navbar-tab-section {
    @apply h-full flex flex-row items-center justify-end gap-4 font-sabonbold tracking-[0.1rem] pt-1;
  }
  .navbar-tab-button {
    @apply rounded-[1.25rem] px-6 pt-3 pb-2 text-black lg:text-button_4 xl:text-button_3 2xl:text-button_2;
  }
}

/* Floating */
@layer components {
  .floating-container {
    @apply container flex items-center justify-end fixed text-white tracking-wide z-20 bottom-[20%] pr-4;
  }
  .floating-button {
    @apply flex flex-row items-center justify-center w-[4rem] h-[4rem] hover:w-[10rem] rounded-full;
  }
  .floating-span {
    @apply hidden group-hover:flex mr-2;
  }
}

/* Footer */
@layer components {
  .footer-container {
    @apply bg-black opacity-90 flex flex-col p-8 text-white;
  }
  .footer-logo-section {
    @apply my-10;
  }
  .footer-main-section {
    @apply font-medium text-text5 space-y-2;
  }
  .footer-border {
    @apply border-2 border-white opacity-80 my-10;
  }
  .footer-sub-section {
    @apply flex flex-row items-end justify-between space-y-2 mb-10;
  }
  .footer-sub-left-section {
    @apply flex flex-col space-y-1 text-text5;
  }
  .footer-sub-right-section {
    @apply text-text5;
  }
}

/* Home */
@layer components {
  .home-container {
    @apply flex flex-col bg-white;
  }
}

/* Home-Section1 */
@layer components {
  .section1-container {
    @apply bg-[url('/images/bg_section1.jpg')] bg-center bg-cover lg:h-[40rem] xl:h-[50rem] 2xl:h-[60rem];
  }
  .section1 {
    @apply flex flex-col items-center justify-center text-white lg:h-[40rem] xl:h-[50rem] 2xl:h-[60rem];
  }
  .section1-button {
    @apply rounded-[1.25rem] px-6 py-3 text-button_2 text-black;
  }
}

/* Home-Section2 */
@layer components {
  .section2-container {
    @apply w-full lg:h-[30rem] xl:h-[35rem] 2xl:h-[40rem] flex flex-row items-center justify-between;
  }
  .section2-bg-section {
    @apply w-1/2 h-full;
  }
  .section2-bg {
    @apply w-full h-full relative;
  }
  .section2-main-section {
    @apply w-1/2 h-full flex flex-col justify-center space-y-8 bg-white lg:px-6 xl:px-12 2xl:px-16;
  }
  .section2-main-title {
    @apply lg:text-heading_7 xl:text-heading_6 2xl:text-heading_5 text-secondary_800;
  }
  .section2-main-subtitle {
    @apply lg:text-heading_6 xl:text-heading_5 2xl:text-heading_4;
  }
  .section2-main-description {
    @apply lg:text-text4 xl:text-text3 2xl:text-text2 text-secondary_600;
  }
  .section-main-button {
    @apply w-[20%] bg-primary rounded-none text-white text-button_2 py-4;
  }
}

/* Home-Section3 */
@layer components {
  .section3-container {
    @apply bg-primary_bg w-full flex flex-col items-center justify-center lg:py-[8rem] xl:py-[9rem] 2xl:py-[10rem] text-center gap-12;
  }
  .section3-title {
    @apply font-sabonbold text-secondary_800 lg:text-heading_7 xl:text-heading_6 2xl:text-heading_5;
  }
  .section3-subtitle {
    @apply text-secondary lg:text-heading_6 xl:text-heading_5 2xl:text-heading_4;
  }
  .section3-subtitle-highlight {
    @apply text-primary_400;
  }
  .section3-description {
    @apply lg:text-text4 xl:text-text3 2xl:text-text2;
  }
  .section3-button {
    @apply w-[12%] py-3 bg-primary rounded-none text-button_2 text-white mb-[4rem];
  }
  .section3-partner-logo {
    @apply lg:w-[58rem] xl:w-[72rem] 2xl:w-[90rem] lg:h-[4.5rem] xl:h-[6rem] 2xl:h-[7rem] relative mb-[4rem];
  }
  .section3-completed-assets-container {
    @apply w-full flex flex-row items-center justify-center gap-4;
  }
  .section3-completed-assets {
    @apply lg:w-[9.4rem] xl:w-[12rem] 2xl:w-[14.375rem] lg:h-[14rem] xl:h-[18rem] 2xl:h-[24rem] relative transform -skew-x-6;
  }
  .section3-completed-assets-hover-box {
    @apply w-full h-full flex flex-col items-center justify-center absolute transition duration-300 ease-in-out opacity-0 hover:opacity-90 bg-black z-10 text-white;
  }
  .section3-completed-assets-hover-title {
    @apply lg:text-heading_8 xl:text-heading_7 2xl:text-heading_6 tracking-tight mb-2 underline;
  }
  .section3-completed-assets-hover-amount {
    @apply lg:text-text3 xl:text-text2 2xl:text-text1 lg:mb-6 xl:mb-8 2xl:mb-10;
  }
  .section3-completed-assets-hover-icon {
    @apply text-primary;
  }
}

/* Home-Section4 */
@layer components {
  .section4-container {
    @apply bg-[url('/images/bg_section4.jpg')] w-full h-[25rem] bg-no-repeat bg-cover bg-center grid grid-cols-3 place-items-center gap-4;
  }
  .section4-performance {
    @apply flex flex-col items-center text-white text-center;
  }
  .section4-value {
    @apply lg:text-heading_4 xl:text-heading_3_B 2xl:text-heading_2_L;
  }
  .section4-unit {
    @apply lg:text-heading_6 xl:text-heading_5 2xl:text-heading_2_S leading-normal text-primary_200;
  }
  .section4-description {
    @apply lg:text-text5 xl:text-text4 2xl:text-text3;
  }
  .section4-explanation {
    @apply flex flex-col text-white lg:text-text5 xl:text-text4 2xl:text-text3;
  }
}

/* Home-Section5 */
@layer components {
  .section5-container {
    @apply flex flex-col items-center justify-center py-[8rem] bg-white;
  }
  .section5-title {
    @apply font-sabonbold lg:text-heading_7 xl:text-heading_6 2xl:text-heading_5 text-secondary_800 mb-6;
  }
  .section5-subtitle {
    @apply lg:text-heading_6 xl:text-heading_5 2xl:text-heading_4 mb-14;
  }
  .section5-subtitle-highlight {
    @apply text-primary;
  }
  .section5-description {
    @apply font-sabonbold lg:text-text4 xl:text-text3 2xl:text-text2 text-secondary_600 text-center mb-8;
  }
  .section5-form-container {
    @apply lg:w-[80%] xl:w-[70%] 2xl:w-[50%] flex flex-col items-center justify-center;
  }
  .section5-form {
    @apply w-full flex flex-row gap-6 mb-14;
  }
  .section5-form-left-section {
    @apply w-1/2 flex flex-col justify-between gap-7;
  }
  .section5-filebox {
    @apply absolute;
  }
  .section5-form-input {
    @apply bg-secondary_200 text-secondary_600 p-4;
  }
  .section5-form-right-section {
    @apply w-1/2 flex flex-col gap-4;
  }
  .section5-form-file-input {
    @apply w-24 bg-secondary_200 text-secondary_600 p-5;
  }
  .section5-form-button {
    @apply w-[20rem] bg-primary text-white text-button_1 py-4;
  }
}

/* Insight */
@layer components {
  .insight-container {
    @apply flex flex-col bg-white;
  }
  .insight-header {
    @apply w-full h-[280px] flex flex-row items-end justify-between px-[7rem];
  }
  .insight-header-title {
    @apply font-sabonbold text-heading_3_R;
  }
  .insight-border {
    @apply lg:border-t-[1px] xl:border-t-[2px] 2xl:border-t-[3px] mt-[5rem] border-deepgray;
  }
  .insight-section {
    @apply hover:bg-primary_bg focus:bg-primary_600 w-full h-[500px] flex flex-row items-center justify-between px-[7rem] py-[3.125rem] border-deepgray border-b-[3px];
  }
  .insight-left-section {
    @apply w-[40%] flex flex-col items-start justify-center;
  }
  .insight-numbering {
    @apply text-text1 mb-5;
  }
  .insight-title {
    @apply text-heading_4 mb-2;
  }
  .insight-date {
    @apply text-text5 mb-10;
  }
  .insight-description {
    @apply w-full h-[5.5rem] text-text2 text-secondary_400 line-clamp-3 mb-10;
  }
}
